.myadminform .form-horizontal .controls{padding:15px 0;}

#content-header{height:50px;}

.myadminform .form-horizontal input.myinput-mini{width:60px;text-align:center;}

.myadminform div.controlsinfo{padding:15px;}

p.inputhelp{margin-top:5px;margin-bottom:0;}